doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Add Restaurant
        script(src="../client.js" defer)
        
    body 
        a(href="/home") Home  
                
        a(href="/restaurants") Restaurants  
                
        a(href="/addRestaurant") Add Restaurants

        #restaurantName
            p Restaurant Name: 
                input(type="text" id='rName')  
        
        #diliveryFee
            p Delivery Fee: 
                input(type="text" id='dFee') 

        #minimumOrder 
            p Minimum Order: 
                input(type="text" id='minOrder') 

        #submitRestaurant
            button(id="submit") Submit 

    
        
        
    
    
    
    
